
    
    <!-- Header -->

    <header class="intro-header dark-cover">
      
      <div class="container">
      <div class="row justify-content-center text-center">
        <div class="intro-message">
          <h1><span class="name">TYLER &nbsp;GOTTO</span></h1>
            <!-- <h3>Welcome to my personal website</h3>
            <hr class="intro-divider"> -->
            <ul class="the-ul list-inline intro-social-buttons">
            <li class="list-inline-item">
                <a href="#content-section-a" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">background</span>
                </a>
              <!-- </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-b" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">projects</span>
                </a>
             <!--  </li> -->
              <!-- <li class="list-inline-item"> -->
                <a href="#content-section-c" class="btn btn-secondary btn-sm hvr-float-shadow">
                  <span class="network-name">marketing</span>
                </a>
                
              <!-- </li> -->
            <!-- </ul> -->
          </div>
          </div>
        </div>
      </div>
      
    </header>

    <!-- Page Content -->
    <section class="content-section-a" id="content-section-a">

      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8" id="about_tyler">
            <h2 class="section-heading text-center">Up to Now</h2>
            <p class="lead">
            This is the life story of Tyler Gotto, how he got to where he is today, and where he is hoping to go from here and what he is hopong to do! He played hockey, he is from Canada, he went to college in the USA, got a Marketing degree then payed 7 years of professional hockey in Europe. He travelled a lot and met a lot of cool people and brodened his horizon internationally and cuturally. Now he and his new wife have moved to New York City, where he is looking to contine his carrer in marketing and web development. </p>
          </div>
          <div class="col-lg-4 quote">
            <blockquote>
            The best time to plant a tree was 20 years ago. The second best time is now. The best time to plant a tree was 20 years ago. The second best time is now.The best time to plant a tree was 20 years ago. <cite> Chinese Proverb </cite>
          </blockquote>
        </div>

      </div>
      <!-- /.container -->
    </section>

    <section class="content-section-b" id="content-section-b">

      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6">
            <h2 class="section-heading">Web Development</h2>
          </div>
        </div>
          <div class="row justify-content-center text-center">
            <div class="col-md-6">
              <p class="lead">My love for web development has expotentially grown over the past years. The realization of how many bad websites and apps there are on the internet, and all the missed opportunities they encompass reignited my passed interest in creating engaging interactive web projects. I am excited to create beautiful work that is also easy and motivating to enage with for the user. The quote below I feel blends perfectly into the web design world, an individual shouldnt have to think to use your product they should just have the pleasur of doing so. </p>
            </div>

            <div class="col-md-6">
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"><a href = "#"></a></div>
                
               
                <div class="col wish-list"></div>
                
                
                <div class="col gotto-marry"></div>
                
              </div>
              <div class="row justify-content-center text-center">
                
                <div class="col gotto-marry"></div>
                
                
                <div class="col gotto-marry"></div>
                
                
                <div class="col gotto-marry"></div>
                
              </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-sm-6 text-center quote-2">
            <blockquote>“Any product that needs a manual to work is broken."
                  <cite> Elon Musk</cite>
          </blockquote>
        </div>


      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-b -->

    <section class="content-section-c" id="content-section-c">

      <div class="container">

      </div>
      <!-- /.container -->

    </section>
    <!-- /.content-section-a -->

    <aside class="banner">

      <div class="container">
      <div class="row">
        <h2 class="text-center">My feelings towards Marketing</h2>
        <p>B2C = Content create to make an emotional connection leads to brand awarness and interaction</p>
        <p>B2B = The customer experience 
        I am fascinated by staying on top of the newest technologies, I am myself an early adopter so I love using those technologies to advance my marketing strategies. My interests are in mobile aspects, video content, emotional connection. 
        </p>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 email_box">
          <h2 class='text-center'>CALL TO ACTION </h2>
            <div class="row justify-content-center">
              <div class="col-md-4 email">
                <%= form_for @user do |f| %>
                  <%= f.label :name %><br>
                  <%= f.text_field :name %><br>
                  <%= f.label :email %><br>
                  <%= f.text_field :email %><br><br>
                  <%= f.submit "STRATEGIC BUTTON" %>
                <% end %>
              </div>
            </div>
        </div>
      </div>
      <!-- /.container -->

    </aside>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-5">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="#">Home</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#about">About</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#services">Services</a>
              </li>
              <li class="footer-menu-divider list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
            </ul>
            <p class="copyright text-muted small">Copyright &copy; Tyler Gotto 2017. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

    